 

# Johdanto datatieteeseen, TLO-32410

# Oppimispäiväkirja, Jussi Salakka



## VIIKKO 1

### Ti 09.03.2021______________________________________________________________________

 

### 1.     Osallistuin luennolle ja keräsin aineiston luennolta sekä webbilinkeistä jota luennolla jaettiin. Kuuntelin perjantain harjoitukset.

 

### 2.       Tiivistelmä luennosta

Datatiede on pitkälti käytännön osaamista vaativa työ, ns.”käsityöläisammatti”.

 

<b>Datatieteilijä Venn Diagrammissa</b>

Yhdistää neljää erillistä toimialuetta ja on näiden keskiössä. Datatieteen asiantuntijoilla on näistä kaikista neljästä osa-alueesta tuntemusta.

=>  Communication, Statistics, Programming, Business


 Datatieteilijä Venn Diagrammissa. (Web-lähde: https://whatsthebigdata.com/2016/07/08/the-new-data-scientist-venn-diagram/)



<b>Datatiede</b>

Datatieteessä yhdistyvät ohjelmointi, datan keräämisen automatisointi ja tilastotiede tulosten käsittelyssä. R-kieli on painottunut nimenomaan datatieteeseen. Python tullut nykyään voimakkaasti datatieteen työkaluksi. 

Crisp-DM on prosessi joka kehitettiin jo 1996 kuvaamaan tiedonlouhintaa (data mining). Tiedonlouhinta käsittää tietojen kyselyä tietokannoista ja sen hyödyntämistä päätöksenteossa. Kuvassa ulompi kehä kuvaa tiedonlouhinnan syklistä toimitapaa. Prosessi on jaettu kuuteen vaiheeseen. Crisp-DM on laajasti käytössä ja ainoa heikkous sillä on että se ei kuvaa projektin hallintaa.


CRISP-DM-malli esittelee avoimen standardin prosessikuvauksen datatieteestä (Web-lähde: https://en.wikipedia.org/wiki/Cross-industry_standard_process_for_data_mining).



<b>Data engineering vs. data science.</b>

Data engineering tarkoittaa datan käsittelyn ja analysoinnin käytännön menetelmiä. Data engineer on erikoistunut datan käsittelyyn ja rakentamaan datalle joustavan virran. Datatieteilijät taas osaavat tulkita tietoa ja valita oikeat menetelmät datan käsittelyyn, datatieteilijällä on syvempi käsitys datan tulkinnasta ja menetelmistä. Datatieteilijän tehtävänä on löytää arvo datasta. (https://www.datasciencecentral.com/profiles/blogs/data-scientist-versus-data-engineer)

 

<b>Big data</b>

Maailmassa on 163 Zetabittiä dataa mutta data ei ole käytettävissä kaikilla. Merkittävän osan datasta omistavat sellaiset toimijat kuten Google, Facebook jne. Dataa on tarjolla nykyään paljolti pilvessä. Big dataa kuvataan kolmen V:n termillä. Ensimmäinen eli “Volume” kuvaa tietomassaa, toinen ”Velocity” kuvaa nopeutta jolla uutta tietoa syntyy ja kolmas ”Variety” kuvaa että tietoa syntyy hyvin monista lähteistä ja monissa formaateissa.

Big data = volume, velocity, variety

 

<b>Ympäristöjä</b>

Alla listaus Python kirjastoista joita luennolla käytettiiin sekä joita voisi ihan ensimmäisenä asentaa:

·         Gapminder, Pandas, Plotly express, Streamlit

·         Matplotlib, Numpy

 

Kaggle on avoin tietokanta josta voi ladata itseä mielenkiintoisia datasettejä sekä saada opastusta datan käsittelyyn. Tietokanta vaatii kirjautumisen mutta sen voi tehdä esim. Google tunnuksilla.


Netflix otsikot. (Web-lähde: https://www.kaggle.com/shivamb/netflix-shows)



### Pe 12.03.2021______________________________________________________________________

Harjoituksessa tutustuttiin Pandas dataframe komentoihin ja kuinka esim. CSV tiedostoja luetaan dataframeen.

Harjoituksessa käsiteltiin dataframe luettelojen prosessointia python komennoilla ja funktioilla. Luetteloihin lisättiin uusia sarakkeita jotka populoitiin sitten yksittäisillä stringeillä käyttäen loop funktioita. Funktioissa luettiin saman rivin toisesta sarakkeesta tietoa joka sitten määritti kyseisen sarakkeen arvon. Listoja rakennettiin ”data frame” komennolla. Subseteillä voidaan kerätä suuresta määrästä dataa vain olennaiset sarakkeet. Subsetit voidaan konkatenoida yhdeksi uudeksi data frameksi. Listan voi palauttaa takaisin .CSV tiedostoksi.

 

<b>Pohdinnat viikosta</b>

Asiaa oli paljon ja varsinkin asennettavaa omalle koneelle. Pythonia olen käyttänyt kyllä aiemmin mutta osa asioista unohtunut. Selvää oli että kurssin suorittaminen vaatii paljon käytännön harjoittelua mikä minusta on vain hyvä asia, koska nimenomaan käytännön osaaminen itseä kiinnostikin.

 

### 3.       Viisi oivallusta

<ol>
<li>Datatiede yhdistää asioita kommunikaatiosta, tilastotieteestä, ohjelmoinnista ja busineksestä</li>

<li>Crisp-DM on tiedonlouhinnan prosessimalli joka on käytössä nykyään laajasti</li>

<li>Big datassa yhdistyvät voluumi, nopeus ja datan vaihtelevuus</li>

<li>Python Pandas tarjoaa loistavan kirjaston työkaluja suurteen datasettien käsittelyyn</li>

<li>Kaggle tarjoaa hyviä valmiita tietokantoja joilla voi aloittaa harjoittelun ja josta voi löytää harjoitustyötä varten valmiita datasettejä</li>
</ol>
    
 ### 4.       Kehitysideat

·         Tarvittavista Python kirjastoista voisi olla hyvä listaus esim.kurssin verkkosivulla



### 5.  Koodirivit viikolta

Jupyter Notebookissa opittua Pandaksen käytöstä

<i>tuodaan Pandas kirjasto käyttöön</i>

In [1]:
import pandas as pd

<i>listataan tulokset kansiosta</i>

In [2]:
ls

 Volume in drive C is Windows-SSD
 Volume Serial Number is 3C9A-00CC

 Directory of C:\Users\jussi\Desktop\Johdanto Datatieteeseen\Päiväkirja

19/03/2021  20.51    <DIR>          .
19/03/2021  20.51    <DIR>          ..
16/03/2021  18.10    <DIR>          .ipynb_checkpoints
13/03/2021  22.32            24 699 analyysiympäristöt.png
13/03/2021  22.31            38 242 crisp-dm.png
19/03/2021  20.51            41 125 Joda-2021_JSA_PAIVAKIRJA.ipynb
13/03/2021  22.31            19 472 kaggle.png
21/02/2021  23.41             3 175 military tanks.csv
13/03/2021  22.30            82 452 venn_diagrammi.png

<i>luodaan dataframe csv tiedostosta</i>

In [3]:
data_frame = pd.read_csv("military tanks.csv")

16/03/2021  12.17    <DIR>          W2
               6 File(s)        209 165 bytes
               4 Dir(s)  223 523 749 888 bytes free

In [4]:
data_frame

,Model Name,Origin Country,Crew,Range (km),Max Road Speed (km/hr),Power-to-weight ratio (h.p./t),Length (m),Width (m),Height (m),Engine Power (hp),...,Elevation (Elevation Max),Traverse Range,Manufactured By,Launch Year,Main Weapon Caliber,Ammunition Main Weapon,Auxiliary Gun Caliber,Ammunition Auxiliary Gun,AA Gun Caliber,Ammunition AA Gun
0,MB-3 Tamoyo,Brazil,4,550,67.00,18.18,8.76,3.200,2.50,500,...,18.0,360,Bernardini S/A Industria e Comercio,1983.0,90,68,7.62,3000.0,7.62,3000.0
1,Leopard C2,West Germany,4,600,65.00,21.43,9.50,3.370,2.70,830,...,20.0,360,Porsche,1956.0,105,51,7.62,2750.0,7.62,2750.0
2,Leopard 2A4M CAN,West Germany,4,400,68.00,26.16,9.61,3.750,3.00,1500,...,20.0,360,Krauss-Maffei,1970.0,120,42,7.62,2375.0,7.62,2375.0
3,VT-4,China,3,500,70.00,25.00,10.10,3.400,2.30,1300,...,NaN,360,Norinco,2014.0,125,38,7.62,3000.0,12.70,500.0
4,MBT-3000,China,3,500,70.00,25.00,10.10,3.400,2.30,1300,...,NaN,360,Norinco,2014.0,125,38,7.62,3000.0,12.70,500.0
5,Type 99,China,3,600,80.00,27.78,11.00,3.700,2.35,1500,...,NaN,360,Norinco,1998.0,125,41,7.62,2000.0,12.70,300.0
6,Type 96,China,3,400,65.00,18.00,11.00,3.450,2.30,1500,...,12.0,360,First Inner Mongolia Machinery Factory,1997.0,125,42,7.62,2250.0,12.70,500.0
7,Type-90 II,"China, Pakistan",3,500,72.00,26.00,10.28,3.500,2.40,1200,...,16.0,360,"Norinco (MBT-2000, Type 96-IIM)Heavy Industrie...",1993.0,125,39,12.70,NaN,7.62,NaN
8,Type 80,People's Republic of China,4,400,57.25,NaN,9.33,3.372,2.29,730,...,18.0,360,First Inner Mongolia Machinery Factory,1970.0,105,44,12.70,500.0,7.62,2250.0
9,M-95 Degman,Croatia,3,700,72.00,27.00,10.14,3.600,2.20,1000,...,13.0,360,Đuro Đaković specijalna vozila d.d.,NaN,125,42,12.70,360.0,7.62,2000.0
10,T-72,Soviet Union,3,460,60.00,18.80,9.80,3.590,2.23,1000,...,14.0,360,Uralvagonzavod,1970.0,125,37,7.62,2100.0,12.70,720.0
11,Jaguar,China,4,540,55.00,17.90,9.60,3.270,2.63,750,...,17.0,360,Textron Marine & Land Systems,1988.0,105,34,7.62,3500.0,12.70,600.0
12,Arjun Mk.2,India,4,400,58.00,NaN,10.64,3.950,2.80,1400,...,20.0,360,Combat Vehicles Research\nand Development Esta...,2004.0,120,39,7.62,3000.0,12.70,1000.0
13,Leclerc,France,3,550,71.00,27.52,9.87,3.600,2.53,1500,...,15.0,300,GIAT Industries (now Nexter),1983.0,120,40,12.70,NaN,7.62,NaN
14,AMX-40,France,4,550,70.00,25.60,10.05,3.180,2.38,1100,...,15.0,360,AMX-APX and GIAT,1983.0,120,40,20.00,578.0,7.62,2170.0
15,AMX-32,France,4,530,65.00,20.00,9.45,3.100,2.29,720,...,15.0,360,NaN,1977.0,105,47,20.00,480.0,7.62,2160.0
16,AMX-30,France,4,600,65.00,18.90,9.50,3.100,2.28,720,...,20.0,360,NaN,1959.0,105,47,20.00,1050.0,7.62,2050.0
17,Revolution,West Germany,4,400,68.00,23.70,9.70,3.750,3.00,1500,...,20.0,360,Krauss-Maffei Wegmann Maschinenbau Kiel,1970.0,120,42,7.62,NaN,12.70,NaN

<i>luetaan uuteen df:n ensimmäinen rivi</i>

In [5]:
first_tank=data_frame.loc[0]

<i>luetaan uuteen dataframeen ensimmäinen sarake</i>

In [6]:
model_names = data_frame.loc[:,"Model Name"]

<i>luetaan seuraavat kiinnostavat sarakkeet</i>

In [7]:
ranges = data_frame.loc[:,"Range (km)"]

<i>käytetään iloc komentoa joka lukee rivi/sarake numeroilla</i>

In [8]:
max_speeds = data_frame.iloc[:,4]

In [9]:
power_to_weights = data_frame.iloc[:,5]

<i>luodaan uusi dataframe-1 yhdistelemällä tietoja</i>

In [10]:
new_data = pd.concat([model_names,max_speeds], keys=['Names','Speeds'])

<i>luodaan uusi dataframe-2 ynnäämällä kaikki dataframet omaan listaan</i>

In [11]:
new_data_collection=[model_names,max_speeds,power_to_weights,ranges]

<i>summataan dataframe-1 sarakkeesta speeds kaikki yhteen</i>

In [12]:
avg_speeds=sum(new_data['Speeds'])/(new_data['Speeds'].count())

In [13]:
print("Average top speed:"+str(round(avg_speeds,2))+"km/h")

Average top speed:66.57km/h

In [14]:
new_data["Speeds"].count()

18

## VIIKKO 2

### Ti 16.03.2021______________________________________________________________________

### 1.	Osallistuin luennolle ja keräsin aineiston luennolta sekä webbilinkeistä jota luennolla jaettiin. Perjantain harjoituksiin en ehtinyt työkiireiden vuoksi joten jouduin opiskelemaan itsenäisesti aiheesta.

### 2.	Tiivistelmä luennosta

<b>Datan kerääminen ja jalostaminen</b>

- Ryömijöiden ja raapijoiden läpikäynti.
- Tuotteistettu analytiikka tapahtuu tyypillisesti Business Intelligence (liiketoimintatiedon hallinta) organisaatiossa.
- ETL prosessi = extract, transform, load (Master data)
    - Systemaattinen aineisto, pitkät aikasarjat
    - Tuotteistettua tiedon hyödyntämistä organisaation toiminnassa
    - Saatavissa laajasti organisaatiossa
    - Helposti ladattavissa
- DAD prosessi = discover, access, distill
    - Samantyyppinen periaate kuin ETL, mutta:
        -Data-aineisto kerätään hyvin nopeasti
        -Analyysi tapahtuu nopeasti

<b>Data science workflow</b>

-	Ohjaava analytiikka jolloin datatiede on viety osaksi jonkin järjestelmän toiminnallisuutta

<b>Data-analytiikka liiketoiminnassa</b>

-	Yrityksistä vain noin kolmanneksella on data-analytiikan työkalut käytössä ja dataa hyödynnetään aktiivisesti

<b>Ryömintä</b>

-	Etsitään linkkejä joiden kautta voidaan hakea uusia linkkejä halutuilla parametreilla

<b>Raavinta</b>

-	Kerätään webbisivuilta kiinnostavaa tietoa, joka ollaan löydetty ryöminnän avulla
-	Raavinnassa on liiketoimintamielessä aina pitää mielessä tekijänoikeusasiat

<b>Tietotyypit</b>

-	Luvut (kokonaisluvut, floatit)
-	Teksti (stringit)
-	Boolet (True, False)
-	Objektit (sekalaista, voi olla myös sisäisiä listoja)
-	Aikatieto

<b>Data wrangling</b>

-	Tehdään datan siivoaminen käsin josta tekoäly voi tehdä automaattisen rutiinin jota on helppo käyttää jatkossa

<b>Data-aineiston tutkiminen</b>

-	Data-aineisto on hyödyllistä ensin siivota ja järjestää hyvin
-	Myös datan sisältöä ja rakennetta on hyvä tutkia ennen kuin varsinaisesti mitään aletaan kehittämään

### Pe 19.03.2021______________________________________________________________________

Harjoitukseen en ehtinyt tällä kertaa osallistua työkiireiden vuoksi joten jouduin itse käymään omatoimisesti läpi Crawling ja Scraping työkaluja. Python Scrapy kirjasto tarjoaa niihin molempiin työkaluja ja tein harjoituksen läpi mitä esiteltiin Scrapyn sivustolla https://docs.scrapy.org/en/latest/intro/tutorial.html. Scrapya on mahdollista käyttää myös Shellin kautta ja esim. tehdä kokeiluja kyselyistä.


### 3.	Viisi oivallusta
<ol>
    <li>Yritykset käyttävät ETL prosessia hallitakseen Master dataa.</li>
    <li>DAD prosessi soveltuu datan nopeaan analysointiin ja sitä käytetäänkin ad-hoc tyyppisesti.</li>
    <li>Ryömintä ja raavinta soveltuvat tiedon hankkimiseen netistä ja yritykset käyttävät sitä aktiivisesti päätöksen teossa.</li>
    <li>Data wrangling on metodi jolla datan siivoaminen tehdään manuaalisesti jonka aikana tekoäly kehittää tästä rutiinin ja jota voidaan automatisoida datan siivoamiseksi jatkossa. </li>
    <li>Data aineiston sisältöä ja rakennetta on hyvä tutkia huolellisesti ennen kuin sillä aloittaa varsinaisen työskentelyn</li>
    
</ol>

### 4.	Kehitysideat
### 5.	Koodirivit viikolta