This notebook is a test for reading in a CSV file with Pandas

Lets test markdown with different formats:
# This is a Header 1
lets test _italics is nice_
### Smaller header looks like this
**Lets be bold**

In [1]:
import pandas as pd

In [3]:
ls

 Volume in drive C is Windows-SSD
 Volume Serial Number is 3C9A-00CC

 Directory of C:\Users\jussi\Desktop\Johdanto Datatieteeseen\Harjoitukset\H1

15/03/2021  20.39    <DIR>          .
15/03/2021  20.39    <DIR>          ..
15/03/2021  20.32    <DIR>          .ipynb_checkpoints
21/02/2021  23.41             3ÿ175 military tanks.csv
15/03/2021  20.39             1ÿ919 read_data.ipynb
               2 File(s)          5ÿ094 bytes
               3 Dir(s)  216ÿ845ÿ406ÿ208 bytes free

In [5]:
data_frame = pd.read_csv("military tanks.csv")

**Dataframe can be viewed in jupyter notebook**

In [6]:
data_frame

,Model Name,Origin Country,Crew,Range (km),Max Road Speed (km/hr),Power-to-weight ratio (h.p./t),Length (m),Width (m),Height (m),Engine Power (hp),...,Elevation (Elevation Max),Traverse Range,Manufactured By,Launch Year,Main Weapon Caliber,Ammunition Main Weapon,Auxiliary Gun Caliber,Ammunition Auxiliary Gun,AA Gun Caliber,Ammunition AA Gun
0,MB-3 Tamoyo,Brazil,4,550,67.00,18.18,8.76,3.200,2.50,500,...,18.0,360,Bernardini S/A Industria e Comercio,1983.0,90,68,7.62,3000.0,7.62,3000.0
1,Leopard C2,West Germany,4,600,65.00,21.43,9.50,3.370,2.70,830,...,20.0,360,Porsche,1956.0,105,51,7.62,2750.0,7.62,2750.0
2,Leopard 2A4M CAN,West Germany,4,400,68.00,26.16,9.61,3.750,3.00,1500,...,20.0,360,Krauss-Maffei,1970.0,120,42,7.62,2375.0,7.62,2375.0
3,VT-4,China,3,500,70.00,25.00,10.10,3.400,2.30,1300,...,NaN,360,Norinco,2014.0,125,38,7.62,3000.0,12.70,500.0
4,MBT-3000,China,3,500,70.00,25.00,10.10,3.400,2.30,1300,...,NaN,360,Norinco,2014.0,125,38,7.62,3000.0,12.70,500.0
5,Type 99,China,3,600,80.00,27.78,11.00,3.700,2.35,1500,...,NaN,360,Norinco,1998.0,125,41,7.62,2000.0,12.70,300.0
6,Type 96,China,3,400,65.00,18.00,11.00,3.450,2.30,1500,...,12.0,360,First Inner Mongolia Machinery Factory,1997.0,125,42,7.62,2250.0,12.70,500.0
7,Type-90 II,"China, Pakistan",3,500,72.00,26.00,10.28,3.500,2.40,1200,...,16.0,360,"Norinco (MBT-2000, Type 96-IIM)Heavy Industrie...",1993.0,125,39,12.70,NaN,7.62,NaN
8,Type 80,People's Republic of China,4,400,57.25,NaN,9.33,3.372,2.29,730,...,18.0,360,First Inner Mongolia Machinery Factory,1970.0,105,44,12.70,500.0,7.62,2250.0
9,M-95 Degman,Croatia,3,700,72.00,27.00,10.14,3.600,2.20,1000,...,13.0,360,Đuro Đaković specijalna vozila d.d.,NaN,125,42,12.70,360.0,7.62,2000.0
10,T-72,Soviet Union,3,460,60.00,18.80,9.80,3.590,2.23,1000,...,14.0,360,Uralvagonzavod,1970.0,125,37,7.62,2100.0,12.70,720.0
11,Jaguar,China,4,540,55.00,17.90,9.60,3.270,2.63,750,...,17.0,360,Textron Marine & Land Systems,1988.0,105,34,7.62,3500.0,12.70,600.0
12,Arjun Mk.2,India,4,400,58.00,NaN,10.64,3.950,2.80,1400,...,20.0,360,Combat Vehicles Research\nand Development Esta...,2004.0,120,39,7.62,3000.0,12.70,1000.0
13,Leclerc,France,3,550,71.00,27.52,9.87,3.600,2.53,1500,...,15.0,300,GIAT Industries (now Nexter),1983.0,120,40,12.70,NaN,7.62,NaN
14,AMX-40,France,4,550,70.00,25.60,10.05,3.180,2.38,1100,...,15.0,360,AMX-APX and GIAT,1983.0,120,40,20.00,578.0,7.62,2170.0
15,AMX-32,France,4,530,65.00,20.00,9.45,3.100,2.29,720,...,15.0,360,NaN,1977.0,105,47,20.00,480.0,7.62,2160.0
16,AMX-30,France,4,600,65.00,18.90,9.50,3.100,2.28,720,...,20.0,360,NaN,1959.0,105,47,20.00,1050.0,7.62,2050.0
17,Revolution,West Germany,4,400,68.00,23.70,9.70,3.750,3.00,1500,...,20.0,360,Krauss-Maffei Wegmann Maschinenbau Kiel,1970.0,120,42,7.62,NaN,12.70,NaN

In [15]:
first_tank=data_frame.loc[0]

### Now getting first row of data

In [16]:
first_tank

Model Name                                                MB-3 Tamoyo
Origin Country                                                 Brazil
Crew                                                                4
Range (km)                                                        550
Max Road Speed (km/hr)                                           67.0
Power-to-weight ratio (h.p./t)                                  18.18
Length (m)                                                       8.76
Width (m)                                                         3.2
Height (m)                                                        2.5
Engine Power (hp)                                                 500
Engine Type                                                    diesel
Weight (in Tons)                                                 30.0
Gradient (in %)                                                    60
Side Slope (in %)                                                  30
Vertical Step (m)                                                 0.7
Trench (m)                                                        2.4
Fording (m)                                                       1.3
Fording (with preparation)                                          ?
Depression (Elevation Min)                                        6.0
Elevation (Elevation Max)                                        18.0
Traverse Range                                                    360
Manufactured By                   Bernardini S/A Industria e Comercio
Launch Year                                                    1983.0
Main Weapon Caliber                                                90
Ammunition Main Weapon                                             68
Auxiliary Gun Caliber                                            7.62
Ammunition Auxiliary Gun                                       3000.0
AA Gun Caliber                                                   7.62
Ammunition AA Gun                                              3000.0
Name: 0, dtype: object

### Now getting first column of data

In [23]:
model_names = data_frame.loc[:,"Model Name"]

In [24]:
model_names

0          MB-3 Tamoyo
1           Leopard C2
2     Leopard 2A4M CAN
3                 VT-4
4             MBT-3000
5              Type 99
6              Type 96
7           Type-90 II
8              Type 80
9          M-95 Degman
10                T-72
11              Jaguar
12          Arjun Mk.2
13             Leclerc
14              AMX-40
15              AMX-32
16              AMX-30
17          Revolution
Name: Model Name, dtype: object

### Next up lets create a separate dataframe from some selected columns

In [28]:
ranges = data_frame.loc[:,"Range (km)"]

### Selection by column number

In [29]:
max_speeds = data_frame.iloc[:,4]

In [30]:
power_to_weights = data_frame.iloc[:,5]

In [31]:
max_speeds

0     67.00
1     65.00
2     68.00
3     70.00
4     70.00
5     80.00
6     65.00
7     72.00
8     57.25
9     72.00
10    60.00
11    55.00
12    58.00
13    71.00
14    70.00
15    65.00
16    65.00
17    68.00
Name: Max Road Speed (km/hr), dtype: float64

In [39]:
new_data = pd.concat([model_names,max_speeds], keys=['Names','Speeds'])

In [40]:
new_data

Names   0          MB-3 Tamoyo
        1           Leopard C2
        2     Leopard 2A4M CAN
        3                 VT-4
        4             MBT-3000
        5              Type 99
        6              Type 96
        7           Type-90 II
        8              Type 80
        9          M-95 Degman
        10                T-72
        11              Jaguar
        12          Arjun Mk.2
        13             Leclerc
        14              AMX-40
        15              AMX-32
        16              AMX-30
        17          Revolution
Speeds  0                 67.0
        1                 65.0
        2                 68.0
        3                 70.0
        4                 70.0
        5                 80.0
        6                 65.0
        7                 72.0
        8                57.25
        9                 72.0
        10                60.0
        11                55.0
        12                58.0
        13                71.0
        14                70.0
        15                65.0
        16                65.0
        17                68.0
dtype: object

In [41]:
new_data_collection=[model_names,max_speeds,power_to_weights,ranges]

In [42]:
new_data_collection

[0          MB-3 Tamoyo
 1           Leopard C2
 2     Leopard 2A4M CAN
 3                 VT-4
 4             MBT-3000
 5              Type 99
 6              Type 96
 7           Type-90 II
 8              Type 80
 9          M-95 Degman
 10                T-72
 11              Jaguar
 12          Arjun Mk.2
 13             Leclerc
 14              AMX-40
 15              AMX-32
 16              AMX-30
 17          Revolution
 Name: Model Name, dtype: object,
 0     67.00
 1     65.00
 2     68.00
 3     70.00
 4     70.00
 5     80.00
 6     65.00
 7     72.00
 8     57.25
 9     72.00
 10    60.00
 11    55.00
 12    58.00
 13    71.00
 14    70.00
 15    65.00
 16    65.00
 17    68.00
 Name: Max Road Speed (km/hr), dtype: float64,
 0     18.18
 1     21.43
 2     26.16
 3     25.00
 4     25.00
 5     27.78
 6     18.00
 7     26.00
 8       NaN
 9     27.00
 10    18.80
 11    17.90
 12      NaN
 13    27.52
 14    25.60
 15    20.00
 16    18.90
 17    23.70
 Name: Power-to-weight ratio (h.p./t), dtype: float64,
 0     550
 1     600
 2     400
 3     500
 4     500
 5     600
 6     400
 7     500
 8     400
 9     700
 10    460
 11    540
 12    400
 13    550
 14    550
 15    530
 16    600
 17    400
 Name: Range (km), dtype: int64]

In [43]:
sum_ptw=sum(new_data['Speeds'])

In [44]:
sum_ptw

1198.25

LETS TEST UPDATE OF VERSION TO GITHUB!